head {
    text-align: center;
}

body {
    text-align: center;
}

.colorme {
height: 25px;
}

.centered {
    margin: auto;
    width: 40%;
}

.centered2 {
    margin: auto;
    width: 90%;
}

.thick-border {
    border: 3px solid black;
    border-collapse: collapse;
}

.button {
    background-color: black;
    color: white;
    margin: 15px;
    padding: 10px;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}