{% extends 'bootstrap/base.html' %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.28/moment-timezone-with-data.min.js"></script>
{% endblock %}
{% block html_attribs %} lang="en"{% endblock %}
{% block title %} {% if title %}{{title}} - Critter Chaser{% else %}Welcome to Critter Chaser{% endif %} {% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('index')}}">Critter Chaser</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('fish')}}">Fish</a></li>
                <li><a href="{{url_for('bugs')}}">Bugs</a></li>
            </ul>
        </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
  {% block app_content %}{% endblock %}
{% endblock %}
