{% extends "base.html" %}

{% block app_content %}
{{super()}}
{% if not timezone %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('mySelect').value = moment.tz.guess();
            document.form1.submit();
        });
    </script>
{% endif %}
    <div class="form-group">
        <div class="page-header">
            <h2>Bug Bounties</h2>
        </div>
        <form id="form1" name="form1" action="/bugs" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label class="radio-inline" for="Northern">
                    <input type="radio" id="Northern" name="hemisphere" value="Northern" onchange="this.form.submit()" {% if hemisphere == 'Northern' or not hemisphere %} checked {% endif %}>Northern
                </label>
                <label class="radio-inline">
                    <input type="radio" id="Southern" name="hemisphere" value="Southern" onchange="this.form.submit()" {% if hemisphere == 'Southern' %} checked {% endif %}>Southern
                </label>
            </div>
            <div class="form-group">
                <select class="form-control" id="mySelect" onchange="this.form.submit()" name="timezone">
                    {% for timez in timezones %}
                    <option value="{{timez[0]}}" {% if timez[0] == timezone %} selected {% endif %}>{{timez[0] + ' ' + timez[1]}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    </div>
    {% block bug_table %} {% endblock %}
{% endblock %}