<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}
        <h2>Fish Fetcher</h2>
        <h3>Please select your hemisphere!</h3>
        <p>Select your hemisphere:</p>
        <form id="form1" action="/fish" method="POST" enctype="multipart/form-data">
            <input type="radio" id="northern" name="hemisphere" value="northern" checked>
            <label for="northern">Northern</label><br>
            <input type="radio" id="southern" name="hemisphere" value="southern" onchange="this.form.submit()">
            <label for="southern">Southern</label><br>
            <p>Select your timezone:</p>
            <select id="mySelect" onchange="this.form.submit()" name = "timezone">
                {% for timez in timezones %}
                    <option value="{{timez[0]}}">{{timez[1] + ' ' + timez[2]}}</option>
                {% endfor %}
            </select>
        </form>
        <br>
        {% block fishtable %} {% endblock %}
{% endblock %}