<!DOCTYPE html>

{% extends "fish.html" %}

{% block fishtable %}
    <p>Current time: {{current_time}}</p>
    <br>
    <p>This be all the fishes</p>
    <table>
        <tr>
            <th>Fish</th>
            <th>Location</th>
            <th>Price</th>
            <th>Seasonality</th>
            <th>Times Active</th>
        </tr>
        {% for fish in fish_list %}
            <tr>
                <td>{{fish[0]}}</td>
                <td>{{fish[1]}}</td>
                <td>{{fish[2]}}</td>
                <td>{{fish[3]}}</td>
                <td>{{fish[4]}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

