{% extends "base.html" %}

{% block app_content %}
{{super()}}
<div class="jumbotron">
    <h1>Welcome to Critter Catcher!</h1>
    <p class="lead">Here you can find what critters are available to you at the current time and where to find them!</p>
    <div class="btn-group" role="group">
        <a class="btn btn-default btn-lg" href="{{url_for('fish')}}">
            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Fish
        </a>
        <a class="btn btn-default btn-lg" href="{{url_for('bugs')}}">
            <span class="glyphicon glyphicon-bug" aria-hidden="true"></span> Bugs
        </a>
        <a class="btn btn-default btn-lg" href="{{url_for('sea_creatures')}}">
            <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Sea Creatures
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Fish Collection</h3>
            </div>
            <div class="panel-body">
                <p>Track and discover fish in different locations across your island. Find out which fish are currently available and their selling prices.</p>
                <a href="{{url_for('fish')}}" class="btn btn-default">Go Fish</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bug Collection</h3>
            </div>
            <div class="panel-body">
                <p>Catch bugs throughout the day and night. Learn which bugs are active during the current time and how much they're worth.</p>
                <a href="{{url_for('bugs')}}" class="btn btn-default">Find Bugs</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Sea Creature Collection</h3>
            </div>
            <div class="panel-body">
                <p>Dive into the ocean to find sea creatures! See which ones are swimming around right now and check their value.</p>
                <a href="{{url_for('sea_creatures')}}" class="btn btn-default">Dive In</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}